
$orange: #EE6723;
$yellow: #FFCA0D;
$green: #5CBE86;
$purple: #514EA1;

.theme-01 {
  .color-primary-color {
    color: #EE6723;
  }

  .color-secondary-color {
    color: #FFCA0D
  }
}

.theme-02 {
  .color-primary-color {
    color: #FFCA0D;
  }

  .color-secondary-color {
    color: #5CBE86
  }
}

.theme-03 {
  .color-primary-color {
    color: #514EA1;
  }

  .color-secondary-color {
    color: #FFCA0D
  }
}
.theme-04 {
  .color-primary-color {
    color: #514EA1;
  }

  .color-secondary-color {
    color: #5CBE86
  }
}
.theme-05 {
  .color-primary-color {
    color: #5CBE86;
  }

  .color-secondary-color {
    color: #EE6723
  }
}


