  .vm--modal {
      border-radius: 30px;

      .close {
          right: 12px;
          top: 10px;
      }
  }

  @media only screen and (max-width: 580px) {
      .vm--modal {
          border-radius: 15px;
          width: 90vw;
          max-width: 90%;
          margin: 0 auto;
      }
  }

